

.invalid-feedback {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
  }
ul li{
    list-style: none;
}

// .bg-dark{
//     background: #dc3545;
// }

.cat{
    background-color: rgb(205, 80, 201);
    display: block;
    padding: 10px;
    border-radius: 5px;


}
.header{
    border: 1px solid red;
}
.header__navbar
{
   border: 1px solid greenyellow;
}
.header__title{
    background: #dc3545;
}
.header__logo{
    background: rgb(83, 83, 176);
}
.navbar-nav li a{
    list-style: none;

}
